button {
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    transform: scale(1.01);
  }
}
button.connect-wallet {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: 500;
  border-radius: 10px;
  letter-spacing: 1.5px;

  // &:hover {
  //   background-color: #f14c2c;
  //   border: 1px solid #f14c2c;
  //   color: #ffffff;
  // }
}
button.chain-button {
  margin: auto 10px;
  padding: 10px;
  font-size: 1rem;
  background-color: #0914d9;
  color: #ffffff;
  font-weight: 700;
  // border: 1px solid #f14c2c;
  border: 1px solid #0914d9;

  border-radius: 10px;
  // letter-spacing: 1.5px;
}
button.address-balance {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  padding: 2px;
  padding-left: 10px;
  font-size: 1rem;
  background-color: #0914d9;
  color: #ffffff;
  border: 1px solid #0914d9;
  font-weight: 700;
  border-radius: 10px;
  // letter-spacing: 1.5px;

  // &:hover {
  //   background-color: #f14c2c;
  //   border: 1px solid #f14c2c;
  //   color: #ffffff;
  // }
}

span.account-balance {
  background-color: #3842f7;
  // padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
