.datadao-details-main-div {
  width: 100%;
  margin: 20px auto;
  max-width: 1240px;
}
.datadao-details-div {
  /* width: 50%; */
  margin: 0 auto;
}
.padding-div {
  padding: 10px;
}
.datadao-details-section1 {
  border-bottom: 1px solid black;
  padding: 20px;
}
.dataset-main-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dao-details-flext {
  display: flex;
}
.datadao-rightbar-flex {
  width: 40%;
}
.datadao-leftbar-flex {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.datadao-details-btn {
  width: 100%;
}
.datadao-details-section2 {
  /* border-bottom: 1px solid black; */
  padding: 20px;
}
.button-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.datadao-width-btn {
  width: 20%;
}
.width-peragraph {
  width: 80%;
}
.datadao-details-btn-padding {
  padding-bottom: 15px;
}
.dataset-main-flex {
  margin-top: 30px;
}
.daodetails-proposal-name {
  padding-left: 10px;
}
